.title {
  font-size: 40px;
}

.footer {
  background-color: lightgray;
}

.intro, .article {
  text-align: left;
}

.home img{
  width: 200px;
  border-radius: 50%;
}

.homepage {
  display:flex;
  align-items:center;
}

.nav-border {
  border-bottom: 1px solid black;
}

.resume {
  font-size: large;
}